@{
    ViewData["Title"]="Live Update";
}

<div>
    <h1>@ViewData</h1>
</div>
<div>

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/live.js"></script>
